
<div class="heroVideo video-container">
<video autoplay loop="loop" id="myVideo"
class="absolute z-10 w-auto min-w-full min-h-full max-w-none"
>
	<source src="https://www.dropbox.com/scl/fi/wl2qd4mw853o2shecltdj/rvd.mp4?rlkey=ao19hk4sr0nv4clc45iwmvl4a&amp;st=riktolzo&amp;raw=1" />
</video>
</div>
